---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beetroot-deployment
  labels:
    app: beetroot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: beetroot
  template:
    metadata:
      labels:
        app: beetroot
    spec:
      containers:
      - name: beetroot
        image: ghcr.io/bjornarron/excercise2:latest
        ports:
        - containerPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache-deployment
  labels:
    app: apache
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        image: httpd:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata: 
  name: reverse-proxy-apache
spec:
  type: NodePort
  selector: 
    app.kubernetes.io/name: apache-deployment
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
